blue{color:#0053A3;}

q{text-align:center; font-family:Helvetica Neue LT Std 57 Condensed; font-style:regular; font-size:62; leading:0; display:inline;}

26a{font-size:26; leading:1;}
28a{font-size:28; leading:1;}
30a{font-size:30; leading:1;}
32a{font-size:32; leading:1;}
36a{font-size:36; leading:2;}
40a{font-size:40; leading:2;}
50a{font-size:50; leading:1;}
55a{font-size:55; leading:10;}

20{font-size:20; leading:-5;}
30{font-size:30;}
32{font-size:32; leading:-5;}
36{font-size:36; leading:-3;}
40{font-size:40; leading:-1;}
50{font-size:50; leading:8;}
55{font-size:55; leading:-1;}
58{font-size:58;}

a{text-align:center; font-family:Helvetica Neue LT Std 57 Condensed; font-style:regular; font-size:50; leading:0; display:inline;}
a50{text-align:center; font-family:Helvetica Neue LT Std 57 Condensed; font-style:regular; font-size:50; leading:0; display:inline;}

ref{color:#000000; font-family:Helvetica Neue LT Std 57 Condensed; font-size:26; display:inline; }

aSymb{font-family:Eras Demi ITC;  display:inline;}
newSymb{font-family:Symbol; font-Weight:regular; display:inline;}

bold{font-family:Helvetica Neue LT Std 77 Bold Condensed; font-weight:bold;  display:inline; }

heavy{font-family:Helvetica Neue LT Std 85 Heavy; font-weight:bold;  display:inline; }

italics{font-family:Helvetica Neue LT Std 57 Condensed Oblique;  font-style:italic; display:inline;}

br2{font-size:30; display:block; leading:-30;}

super{font-family:GG Superscript Sans; display:inline;}
symb{color:#00FFFF; display:inline; font-size:10;}
symbBold {font-family:BTsymbols; font-Weight:bold; display:inline; leading:0}

references{text-align:left;}