q {color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-size:48; display:inline; }

a50{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn;  font-style:normal; font-size:50; leading:0; display:inline;}


a20{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-style:normal; font-size:20; leading:0; display:inline;}
a24{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-style:normal; font-size:24; leading:0; display:inline;}
a38{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-style:normal; font-size:38; leading:0; display:inline;}
a31{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-style:normal; font-size:31; leading:0; display:inline;}
a26{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-style:normal; font-size:26; leading:0; display:inline;}
a28{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-style:normal; font-size:28; leading:0; display:inline;}
a40{color:#FFFFFF; text-align:center; font-family:HelveticaNeueLT Std Cn; font-Weight:bold; font-style:normal; font-size:40; leading:0; display:inline;}

explanation {color:#FFFFFF; font-family:HelveticaNeueLT Std Cn; text-align:center;  font-Weight:bold; font-size:33; display:inline; }
exp17 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:17; display:inline; leading:-1;}
exp18 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:18; display:inline; }
exp26 {color:#FFFFFF; text-align:center; font-Weight:bold; font-size:26; display:inline; }
exp27 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:27; display:inline; }
exp28 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:28; display:inline; }
exp29 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:29; display:inline; }
exp30 {color:#FFFFFF; text-align:center; font-Weight:bold; font-size:30; display:inline; }
exp31 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:31; display:inline; }
exp33 {color:#FFFFFF; text-align:center; font-Weight:bold; font-size:33; display:inline; }
exp34 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:34; display:inline; }
exp36 {color:#FFFFFF; text-align:center; font-Weight:bold; font-size:36; display:inline; }
exp37 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:37; display:inline; }
exp38 {color:#FFFFFF; text-align:center;  font-Weight:bold; font-size:38; display:inline; }
exp39 {color:#FFFFFF; text-align:center; font-Weight:bold; font-size:39; display:inline; }
exp42 {color:#FFFFFF; text-align:center; font-Weight:bold; font-size:42; display:inline; }

ref{color:#000000; font-family:HelveticaNeueLT Std Cn; font-size:26; display:inline; }

aSymb{font-family:Eras Demi ITC;  display:inline;}
newSymb{font-family:Symbol; font-Weight:bold; display:inline;}

bold{font-family:HelveticaNeueLT Std Cn; font-weight:bold;  display:inline; }

heavy{font-family:HelveticaNeueLT Std Med Cn; font-weight:bold;  display:inline; }

italics{font-family:HelveticaNeueLT Std Lt Cn; font-style:italic; display:inline;}

i{font-family:HelveticaNeueLT Std Cn; font-style:boldItalic; display:inline;}

br2{font-size:30; display:block; leading:-30;}

symb {font-family:BTsymbols; display:inline; leading:0;}
symbBold {font-family:BTsymbols; font-Weight:bold; display:inline; leading:0}
super {font-family:GG Superscript Sans; font-Weight:bold; display:inline;}
